.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  transition: color, 150ms;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgba(0, 0, 0, .7);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}