body {
  font-size: 18px;

  background-color: rgb(230, 73, 46, .1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  display: grid;
  grid: auto-flow 75px / repeat(4, 75px);
  gap: 5px; 
}

.calc > * {
  font-size: 24px;
  color: white;
  
  border-radius: 10px;
  user-select: none;
}

.display {
  grid-column: 1 / 5;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
  white-space: nowrap;
  overflow-x: hidden;

  background: linear-gradient(rgb(5, 213, 255), rgb(0, 124, 181));
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 150ms;
  background-color: rgb(255, 102, 0);
}

button:not(:disabled):hover {
  cursor: pointer;
  background-color: rgb(255, 68, 0);
}

.del {
  font-size: 0;
  background:  rgb(255, 102, 0) url("img/del-icon.png") no-repeat center center / 60% auto;
}

footer {
  align-self: center;
  padding: 15px;
}